<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>br.com.vendas.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SelecaoLentes</display-name>
    <servlet-name>SelecaoLentes</servlet-name>
    <servlet-class>br.com.vendas.servlet.SelecaoLentes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelecaoLentes</servlet-name>
    <url-pattern>/SelecaoLentes</url-pattern>
  </servlet-mapping>
  <display-name>SelecaoGPT</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdicionarCarrinhoProduto</display-name>
    <servlet-name>AdicionarCarrinhoProduto</servlet-name>
    <servlet-class>br.com.vendas.servlet.AdicionarCarrinhoProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdicionarCarrinhoProduto</servlet-name>
    <url-pattern>/AdicionarCarrinhoProduto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TratamentosPermitidos</display-name>
    <servlet-name>TratamentosPermitidos</servlet-name>
    <servlet-class>br.com.vendas.servlet.TratamentosPermitidos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TratamentosPermitidos</servlet-name>
    <url-pattern>/TratamentosPermitidos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TratamentosCompativeis</display-name>
    <servlet-name>TratamentosCompativeis</servlet-name>
    <servlet-class>br.com.vendas.servlet.TratamentosCompativeis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TratamentosCompativeis</servlet-name>
    <url-pattern>/TratamentosCompativeis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Coloracao</display-name>
    <servlet-name>Coloracao</servlet-name>
    <servlet-class>br.com.vendas.servlet.Coloracao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Coloracao</servlet-name>
    <url-pattern>/Coloracao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerificaColoracao</display-name>
    <servlet-name>VerificaColoracao</servlet-name>
    <servlet-class>br.com.vendas.servlet.VerificaColoracao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerificaColoracao</servlet-name>
    <url-pattern>/VerificaColoracao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdicionarCarrinho</display-name>
    <servlet-name>AdicionarCarrinho</servlet-name>
    <servlet-class>br.com.vendas.servlet.AdicionarCarrinho</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdicionarCarrinho</servlet-name>
    <url-pattern>/AdicionarCarrinho</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalvarOrcamento</display-name>
    <servlet-name>SalvarOrcamento</servlet-name>
    <servlet-class>br.com.vendas.servlet.SalvarOrcamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalvarOrcamento</servlet-name>
    <url-pattern>/SalvarOrcamento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarOrcamentos</display-name>
    <servlet-name>ListarOrcamentos</servlet-name>
    <servlet-class>br.com.vendas.servlet.ListarOrcamentos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarOrcamentos</servlet-name>
    <url-pattern>/ListarOrcamentos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardOrcamentos</display-name>
    <servlet-name>DashboardOrcamentos</servlet-name>
    <servlet-class>br.com.vendas.servlet.DashboardOrcamentos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardOrcamentos</servlet-name>
    <url-pattern>/DashboardOrcamentos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImprimirOrcamento</display-name>
    <servlet-name>ImprimirOrcamento</servlet-name>
    <servlet-class>br.com.vendas.servlet.ImprimirOrcamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImprimirOrcamento</servlet-name>
    <url-pattern>/ImprimirOrcamento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfiguracoesPagamento</display-name>
    <servlet-name>ConfiguracoesPagamento</servlet-name>
    <servlet-class>br.com.vendas.servlet.ConfiguracoesPagamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfiguracoesPagamento</servlet-name>
    <url-pattern>/ConfiguracoesPagamento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalvarVenda</display-name>
    <servlet-name>SalvarVenda</servlet-name>
    <servlet-class>br.com.vendas.servlet.SalvarVenda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalvarVenda</servlet-name>
    <url-pattern>/SalvarVenda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarVendas</display-name>
    <servlet-name>ListarVendas</servlet-name>
    <servlet-class>br.com.vendas.servlet.ListarVendas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarVendas</servlet-name>
    <url-pattern>/ListarVendas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetalhesVenda</display-name>
    <servlet-name>DetalhesVenda</servlet-name>
    <servlet-class>br.com.vendas.servlet.DetalhesVenda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetalhesVenda</servlet-name>
    <url-pattern>/DetalhesVenda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarClientes</display-name>
    <servlet-name>BuscarClientes</servlet-name>
    <servlet-class>br.com.vendas.servlet.BuscarClientes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarClientes</servlet-name>
    <url-pattern>/BuscarClientes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>br.com.vendas.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>br.com.vendas.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsuarioLogado</display-name>
    <servlet-name>UsuarioLogado</servlet-name>
    <servlet-class>br.com.vendas.servlet.UsuarioLogado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioLogado</servlet-name>
    <url-pattern>/UsuarioLogado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>br.com.vendas.servlet.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/SessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaixaRecebimentoServlet</display-name>
    <servlet-name>CaixaRecebimentoServlet</servlet-name>
    <servlet-class>br.com.vendas.servlet.CaixaRecebimentoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaixaRecebimentoServlet</servlet-name>
    <url-pattern>/CaixaRecebimentoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceberPagamentosServlet</display-name>
    <servlet-name>ReceberPagamentosServlet</servlet-name>
    <servlet-class>br.com.vendas.servlet.ReceberPagamentosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceberPagamentosServlet</servlet-name>
    <url-pattern>/ReceberPagamentosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmarPagamentoServlet</display-name>
    <servlet-name>ConfirmarPagamentoServlet</servlet-name>
    <servlet-class>br.com.vendas.servlet.ConfirmarPagamentoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmarPagamentoServlet</servlet-name>
    <url-pattern>/ConfirmarPagamentoServlet</url-pattern>
  </servlet-mapping>
</web-app>